@{
    ViewBag.Title = "Personagens";
}

<section id="personagemApp">
    <div class="content">
        <div v-for="personagem in Personagens" class="card">
            <div class="content">
                <div class="details">
                    <div class="name">{{personagem.name}}</div>
                </div>
                <div class="img">
                    <img :src="personagem.images[0]" />
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/Views/Akatsuki/Index.js"></script>
<link href="~/Content/css/Akatsuki.css" rel="stylesheet" />
