@{
    ViewBag.Title = "Personagens";
    string personagensJson = ViewBag.Personagens;
}

<link rel="stylesheet" href="~/Content/css/style.css">

<input type="hidden" id="hfPersonagensJson" value="@personagensJson" />

<section class="content-header">
    <h1>
        Akatsuki
    </h1>
</section>


<section id="personagemApp" class="content">
    <div class="div-pai">
        <div v-for="personagem in Personagens" class="persona">
            <label>{{personagem.name}}</label>
            <img :src="personagem.images[0]"  />
        </div>
    </div>
</section>

<script src="~/Content/js/Views/Personagem/Index.js"></script>