@{
    ViewBag.Title = "Personagens";
    string personagensJson = ViewBag.Personagens;
}

<input type="hidden" id="hfPersonagensJson" value="@personagensJson" />

<section id="personagemApp">
    <div class="content" style=" background-image: linear-gradient(to top, #1b1515, #ff0000,#1b1515);">
        <div v-for="personagem in Personagens" class="card">
            <div class="content">
                <div class="details">
                    <div class="name">{{personagem.name}}</div>
                </div>
                <div class="img">
                    <img :src="personagem.images[0]" />
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/Views/Personagem/Index.js"></script>
<link href="~/Content/css/Akatsuki.css" rel="stylesheet" />
