@{
    ViewBag.Title = "Personagens";
}

<section id="personagemApp" class="content">
    <div class="content">
        <div v-for="personagem in Personagens" class="card">
            <div class="content">
                <div class="details">
                    <div class="name">{{personagem.name}}</div>
                </div>
                <div class="img">
                    <img :src="personagem.images[0]" />
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/Content/css/Bijuus.css">
<script src="~/Content/js/Views/Bijuus/Index.js"></script>