@{
    ViewBag.Title = "Personagens";
}

@*Cabeçalho da página*@
<section class="content-header">
    <h1>
        Personagens
    </h1>
</section>
@*Conteúdo da página*@
<section id="personagemApp" class="content">
    <div class="row">
        <div v-for="personagem in Personagens">
            <label>{{personagem.name}}</label>
            <img :src="personagem.images[0]" />
            <label>teste<label>
        </div>
    </div>
</section>
<script src="~/Content/js/Views/Personagem/Index.js"></script>