@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="card" id="akatsuki-card" data-url="@Url.Action("Akatsuki", "Personagem")">
        <img src="~/Imagens/aktsuki_members.png" alt="Avatar" style="width: 100%" />
        <div class="Titulo">
            <h4><b>Organização Akatsuki</b></h4>
        </div>
    </div>
    <div class="card" id="bijuus-card" data-url="@Url.Action("Bijuus", "Personagem")">
        <img src="~/Imagens/bijuus_jinchuurikis.png" alt="Avatar" style="width: 100%" />
        <div class="Titulo">
            <h4><b>Bijuus</b></h4>
        </div>
    </div>
</div>

<link href="~/Content/css/Home.css" rel="stylesheet" />
<script src="~/Content/js/Views/Home/Index.js"></script>