.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: calc(100% / 4 - 15px);
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

    .card::before {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        background: linear-gradient(#1b1515,#ff0000);
        animation: animate 2s linear infinite;
    }

    .card:after {
        content: '';
        position: absolute;
        inset: 4px;
    }

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card:hover {
    transform: translateY(-10px);
}

.card .content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.card .details {
    width: 100%;
}

.card .content .img {
    margin-top: 15px;
}

    .card .content .img img {
        width: 100%;
        height: 140px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

.card .content .name {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: #FFF;
}
