.content-header {
    background-color: #1b1515;
}

h1 {
    color: orange;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.content {
    background-image: linear-gradient(to top, #1b1515, orange, #1b1515);
    padding-top: 15px;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.persona {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 200px;
    height: 250px;
    border: solid;
    border-radius: 20px;
}
label {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    width: 100px
}

img {
    width: 150px;
    height: 140px;
    margin-bottom: 5px;
    border-radius: 10px;
}